<!-- <div>
    <% console.log("post:",post) %> 
    <% console.log("comment:",comment) %> 
    <%for (let i=0; i<comment.length;i++)%>
    <%{%>
    <p><%=comment[i].comment%></p>
    <span><%=comment[i].user.userName%><span>
    <%}%>
  
  
  
  </div> -->